@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_BootstrapLayout.narrow.cshtml";
}

<div class="jumbotron" style=" background-color:#F5F5F5;">
    <h1>京翰教育</h1>
    <p class="lead">济南京翰教育，1对1辅导快速提分：</p>
    <p class="lead">品牌保证 12年辅导经验，百所教学中心；</p>
    <p class="lead">辅导效果 辅导学生遍布全国，屡获媒体推荐；</p>
    <p class="lead">京翰名师 严格择师，拥有专业的1对1教师资源库；</p>
    <p class="lead">教学承诺 "中国保护消费者基金会"先行承保。</p>
    <a class="btn btn-large btn-success" href="#">Sign up today</a>
</div>

<hr>

<div class="row-fluid marketing">
    <div class="well well-large span12">
        <div class="span6">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="span6">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
    </div>
</div>
