*resharper.user
[Dd]ebug/
[Rr]elease/
[Ll]ive/
[Bb]in/
[Oo]bj/
CodeGen/ChainTools/
GamePortal/Tool/CodeGen/
Mobile/MobileSaleStat/Tool/CodeGen
Mobile/MobileSaleStat2/Tool/CodeGen
*.suo
*.bak
*.sln.cache
_ReSharper.*/
*.user
.DS_Store
.tmp*~
WinProgram/
*.csproj.user
*.cache
build/
*.orig
Thumbs.db
Output/
DontCheckInMe.txt
AppStoreResources/
authcode.db
GamePortal2010/WebSite/Infrastructure/YLDriveResources/
*.mdf
*.ldf
